div.arhiva
{
background-image:url('Meniu/arhiva.png');
background-size:100% 100%;
position:fixed;
width:350px;
height:130px;
left:-230px;
top:105px; 
cursor:url("Cursor/Hand.cur");
z-index:40;
}
div.arhiva:hover
{
left:-10px;
}


div.cautare
{
background-image:url('Meniu/cautare.png');
background-size:100% 100%;
position:fixed;
width:350px;
height:130px;
left:-230px;
top:235px; 
cursor:url("Cursor/Hand.cur");
z-index:40;
}
div.cautare:hover
{
left:-10px;
}


div.galerie
{
background-image:url('Meniu/galerie.png');
background-size:100% 100%;
position:fixed;
width:350px;
height:130px;
left:-230px;
top:370px; 
cursor:url("Cursor/Hand.cur");
z-index:40;
}
div.galerie:hover
{
left:-10px;
}


div.dictionar2
{
background-image:url('Meniu/dictionar.png');
background-size:100% 100%;
position:fixed;
width:350px;
height:130px;
left:-235px;
top:505px; 
cursor:url("Cursor/Hand.cur");
z-index:40;
}
div.dictionar2:hover
{
left:-10px;
}


div.test
{
background-image:url('Meniu/test.png');
background-size:100% 100%;
position:fixed;
width:350px;
height:130px;
left:-230px;
top:640px; 
cursor:url("Cursor/Hand.cur");
z-index:40;
}
div.test:hover
{
left:-10px;
}